/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color: #474747;
  --blue: #276A82;
  --medium-blue: #AFC0C7;
  --light-blue: #E5F1F5;
  --gray-blue: #92ADB6;
  --tile-color: #F7F9FA;
  --background-color: #FBFBFC;
  --white: #FFFFFF;
  --light-gray: #EAEAEA;
  --medium-gray: #C7C7C7;
  --secondary-text-color: #B5B5B5;
  --blurred: rgba(39, 106, 130, 0.1);
  --red: #FF7272;
  --green: #63D177;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
  background-color: var(--background-color);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  text-align: left;
  margin: 8px 0 24px;
  color: var(--text-color);
}

button {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  font-weight: 300;
}

#partners,
#customers,
#companies,
#detailedView,
#home,
#detailed-view-container,
#bookingview,
#creditcards,
#bookings {
  margin: 0 80px 0 110px;
}

input {
  background-color: var(--background-color);
  border: 1px solid var(--medium-gray);
  border-radius: 7px;
  text-indent: 12px;
  font-family: "Source Sans Pro",
    Helvetica,
    Arial,
    sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

textarea {
  font-family: "Source Sans Pro",
    Helvetica,
    Arial,
    sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

select::after {
  font-family: "Source Sans Pro",
    Helvetica,
    Arial,
    sans-serif !important;
  text-decoration: none;
  font-weight: 400 !important;
  font-size: 14px !important;
}


.cta-button-green {
  display: inline-block;
  color: var(--blue);
  background-color: var(--green);
  text-align: center;
  border-radius: 7px;
  padding: 8px 16px;
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.cta-button-dark {
  padding: 8px 24px;
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
}

.cta-button-light {
  padding: 8px 24px;
  background-color: var(--light-blue);
  border-radius: 5px;
  color: var(--blue);
  font-weight: 600;
  font-size: 16px;
}

/*----- Top content - Breadcrumbs and profile - Vlada-----*/
.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.align-right {
  justify-content: right;
}

/*----- breadcrumbs------*/
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.step-link {
  font-weight: 600;
  font-size: 14px;
  color: var(--medium-gray);
  margin-left: 12px;
  display: inline;
}

.active-link {
  color: var(--blue);
}

.back-bracket {
  margin-left: 12px;
  width: 4px;
  height: 6px;
}

/*------- Profile ------*/
.user-display {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
  margin-right: 12px;
}

/*------- Fetched data amount display -----*/
.item-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.search-flex-numbers {
  display: flex;
}

#customer-amount,
#company-amount,
#partner-amount {
  font-weight: 600;
  font-size: 32px;
  color: var(--blue);
  margin-right: 8px;
}

.item-total {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
}

/* ---------- topbar styling ---------- */
nav {
  z-index: 99999;
}

.user-display-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.globalSearch {
  margin: auto auto;
  width: 100%;
  width: 650px;
  padding: 14px;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border-radius: 7px;
  border: none;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.03);
  background-image: url("/img/svg/search.svg");
  background-position: 24px center;
  background-repeat: no-repeat;
  text-indent: 40px;

}

.customerSearch {
  width: 100%;
  width: 355px;
  padding: 14px;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border-radius: 7px;
  border: none;
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.03);
  background-image: url("/img/svg/search.svg");
  background-position: 24px center;
  background-repeat: no-repeat;
  text-indent: 40px;
  display: flex;
  justify-content: left;
}

::placeholder {
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: var(--medium-gray);
}

.sidebar {
  z-index: 99999;
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 110px;
  white-space: nowrap;
}

.sidebar a {
  padding: 16px 0 16px 0px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-blue);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.menu-item-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-text {
  margin-left: 16px;
  display: none;

}

/* .sidebar a:hover {
  color: var(--blue);
} */

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 16px;
  margin-left: 32px;
}


a.active-menu {
  background-color: var(--light-blue);
  border-radius: 5px;
  color: var(--blue) !important;
  width: 48px;
  margin-left: 16px;
}

a.active-menu path {
  stroke: var(--blue) !important;
}

.hoverButton {
  margin-left: 16px;
  width: 48px;
}

.hoverButton:hover {
  width: 174px;
  margin-left: 16px;
  background-color: var(--light-blue);
  border-radius: 5px;
  /* color: var(--blue) !important; */
}

.hoverButton:hover .icon-text {
  color: var(--blue) !important;
}

.hoverButton:hover path {
  stroke: var(--blue) !important;
}

.settingsDiv {
  position: absolute;
  bottom: 20%;
}

.raskrask-icon {
  position: absolute;
  left: 27px;
  top: 3%;
}

.raskrask-text {
  display: none;
}

.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

.topbar a {
  text-decoration: none;
  color: var(--text-color-light);
  position: absolute;
  top: 20px;
}

.topbar a.left {
  left: 20px;
}

.topbar a.right {
  right: 20px;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--background-color);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 32px 16px;
}

.page-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- quick actions - dashboard - Vlada ------- */
.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-left {
  display: flex;
  flex-direction: column;
}

.content-right {
  display: flex;
  flex-direction: column;
}

.functions {
  width: 800px;
  height: 174px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 48px;
}

.function-box {
  width: 146px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  background-color: var(--light-blue);
  padding: 20px 0;
  margin: 0 8px;
  border-radius: 7px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.03);
}

.box1 {
  margin-left: 0;
}

.function-box:hover {
  background-color: var(--white);
  transition: 0.2s;
}

.function-content {
  padding: 16px;
  margin-top: 4px;
}

.function-name {
  font-size: 20px;
  color: var(--blue);
  font-weight: 600;
  margin-top: 4px;
}

.name1,
.name2,
.name3,
.name4 {
  margin-top: 16px;
}

/*------- Daily Statistics - Vlada -------*/
.stats {
  background-color: var(--white);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  width: 380px;
  height: 400px;
  margin-bottom: 24px;
}

.stats-heading {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
}

.daily-clients-text {
  font-size: 24px;
  color: var(--blue);
  font-weight: 600;
  background-color: var(--tile-color);
  padding: 10px;
  margin: 0 24px;
  border-radius: 5px;
}

.graph-box {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.graph-img {
  width: 35%;
}

.graph-text {
  text-align: left;
}

.graph-description {
  font-size: 24px;
  margin: 0;
  font-weight: 400;
}

.emphasized {
  color: var(--blue);
  font-size: 36px;
  font-weight: 600;
}

.labels {
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.label1,
.label2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.square1 {
  display: inline;
  width: 11px;
  height: 11px;
  background-color: var(--blue);
  margin-right: 8px;
}

.square2 {
  width: 11px;
  height: 11px;
  background-color: var(--light-blue);
  margin-right: 8px;
}

.semibold {
  font-weight: 600;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* recent bookings tab */


.latestbookingsBox {
  position: relative;
  width: 800px;
  height: auto;
  background-color: var(--white);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  padding-bottom: 6px;
}

.latestbookingsContent {
  text-align: left;
  margin: auto auto;
  margin: 24px 30px;

}

.latestbookingsTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 0;
  padding-top: 12px;
  margin-bottom: 16px;
}

.truncated-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 120px;
}

.latestbookingsOrderLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;

  color: var(--secondary-text-color);
}

.ordericon {
  margin-left: 4px;
  margin-top: 2px;
}

.latestbookingsTable {
  height: 150px;
  overflow: auto;
}

.latestbookingsTable {
  height: 150px;
  overflow: auto;
}


.scroll-box {
  height: 294px;
  overflow: auto;
  margin-top: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--tile-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 3.5px;
}


.thead-absolute {
  position: absolute;
  top: 40px;
}


td {
  margin: 20px 0 !important;
  cursor: pointer;
}

tr:hover {
  background-color: var(--light-blue);
  transition: linear 0.1s;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  color: white;
  border: none;
  background-color: var(--white);
}

tr {
  height: 52px;
  background-color: var(--tile-color);
  border-radius: 7px;
}

tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


th,
td {
  width: 150px;
  text-align: left;
  padding: 0px 16px;
}

/* end of recent bookings tab */

/* Customers list */

.customersBox {
  width: 78%;
  height: auto;
  background-color: var(--white);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  left: 60px;
  padding-bottom: 6px;
}

.scroll-box-customers {
  height: auto;
  overflow: none;
}

/* end of recent bookings tab */

/* End fo customers list */

/*--------- Quick Actions - Vlada -----------*/
.quick-actions {
  display: flex;
}

.action-box {
  background-color: var(--white);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  width: 240px;
  height: 240px;
}

.actions-heading {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
  text-align: left;
  margin-left: 12px;
}

.action {
  display: flex;
  flex-direction: row;
  background-color: var(--light-blue);
  border-radius: 5px;
  margin: 12px 16px;
}

.action-icon {
  width: 10%;
  margin: 0 12px;
}

.action-name {
  font-weight: 600;
  font-size: 14px;
  color: var(--blue);
}


/*------- Help section ------*/
.help {
  background-color: var(--white);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.help-box {
  display: flex;
  flex-direction: row;
  padding: 8px 8px 0 16px;
  margin: 16px 0 8px 8px;
}

.help-img {
  margin-right: 12px;
}

.help-heading {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  margin: 0;
}

.help-text {
  text-align: left;
  padding: 0 24px 0px 24px;
}

.help-button {
  color: var(--white);
  padding: 4px 24px;
  background-color: var(--blue);
  font-weight: 400;
  border-radius: 5px;
  width: 20%;
  margin: 0 24px;
  margin-bottom: 20px;
}


/* Authentification */

#login {
  background: linear-gradient(258.26deg, #EFF4F5 7.89%, rgba(199, 211, 215, 0) 84.08%, rgba(188, 197, 200, 0) 91.01%) center center fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.login-container {

  position: absolute;
  top: 40%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* .login-title {
  font-family: Source Sans Pro;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
} */

.logo-svg {
  width: 228px;
  height: auto;
  margin-bottom: 40px;
}



.firebaseui-container {
  border-radius: 7px;
  box-shadow: none;

}

.firebaseui-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}

.firebaseui-button {

  height: 38px;
  width: 147px;
  border-radius: 5px;
  padding: 8px,
    16px,
    8px,
    16px;
  background: var(--blue);
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--gray-blue);
  color: var(--white);
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--blue);
}

.mdl-button--primary.mdl-button--primary {
  color: var(--blue);
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}


/* end of the authentification */

/*-------- Detailed View - Vlada ------*/
/* #detailed-view-container {
  margin-left: 110px;
} */
.profile-detailed {
  display: flex;
  margin-top: 24px;
  margin-bottom: 40px;
  align-items: flex-start;
}

.profile-icon {
  width: 85px;
  margin-right: 32px;
}

.profile-name {
  font-weight: 600;
  font-size: 36px;
  color: var(--text-color);
  margin: 0;
  margin-right: 24px;
}

.profile-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.profile-status {
  padding: 2px 24px;
  border-radius: 2px;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10px;
}

.profile-important {
  display: flex;
  flex-direction: row;
}

.contact-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.profile-description {
  display: flex;
  flex-direction: column;
}

.contact-icon {
  margin-right: 12px;
}

.contact-details {
  margin-top: 12px;
  font-size: 16px;
}

.profile-important {
  margin-right: 24px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 16px;
  margin-left: 110px;
}

.space {
  margin-left: 12px;
}

.no-bookings {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

/*---------- Partner page - Vlada --------*/

.partnersBox {
  position: absolute;
  width: 85%;
  height: auto;
  background-color: var(--white);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  padding-bottom: 6px;
}

.app-button {
  padding: 4px 8px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}

.filter-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.filter-btn {
  padding: 4px 24px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
}

.filter-icon {
  margin-right: 8px;
}

.filter-flexbox {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

/*-------- Filter modal - Vlada ---------*/

#overlay-filter {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
}

#filter-popup {
  position: absolute;
  width: 293px;
  height: 444px;
  background: var(--white);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  right: 91px;
  top: 240px;
  bottom: 0px;
  margin: auto;
}

.filter-flexbox-first {
  margin: 24px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-flexbox {
  margin: 8px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-category {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
  margin: 0;
  margin-bottom: 8px;
}

.checkbox-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
}

.checkbox-flex-divider {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
  border-bottom: solid 1.5px var(--light-gray);
}

.container {
  display: block;
  position: relative;
  padding-left: 16px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.margin-check {
  margin-right: 12px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: var(--light-gray);
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color:var(--light-blue);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--blue);
}

.btn-infilter {
  position: absolute;
  top: 400px;
  right: 16px;
}

/* Modals */

#overlay {
  position: fixed;
  display: none;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(39, 106, 130, 0.2);
  z-index: 999;
}

#popup {
  position: absolute;
  width: fit-content;
  display: inline-block;
  height: fit-content;
  background: var(--white);
  border-radius: 7px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.close-modal {
  position: absolute;
  top: 16px;
  right: 16px;
}

.modal-flexbox {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.modal-heading-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 0;
  text-align: left;
}

.modal-form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
}

.modal-field-label {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  line-height: 0;
  margin-bottom: 16px;
}


.red {
  color: var(--red);
}

.modal-field-text {
  width: 286px;
  height: 38px;
}

.modal-field-phone {
  display: flex;
  flex-direction: row;
}

.modal-field-select {
  width: 97px;
  height: 41px;
  margin-right: 12px;
  background-color: var(--background-color);
  border: 1px solid var(--medium-gray);
  border-radius: 7px;
  text-indent: 12px;
}

.modal-field-number {
  width: 177px;
  height: 38px;
}

.right-margin {
  margin-right: 24px;
}

.right-margin-half {
  margin-right: 12px;
}

.modal-field-date {
  width: 137px;
  height: 38px;
  text-indent: 8px;

}

.modal-field-select-field {
  width: 293px;
  height: 38px;
  background-color: var(--background-color);
  border: 1px solid var(--medium-gray);
  border-radius: 7px;
  text-indent: 12px;
}



input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url('/img/svg/calendar-date.svg');
  padding-right: 8px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background-image: url('/img/svg/clock-time.svg');
  padding-right: 8px;
}

.modal-form-notes {
  background-color: var(--background-color);
  border: 1px solid var(--medium-gray);
  border-radius: 7px;
  width: 584px;
  padding: 12px;
  margin-bottom: 16px;
}

.modal-checkbox-reminder {
  display: flex;
  flex-direction: row;
}

.modal-checkbox-label {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.cta-arrow {
  margin-left: 40px;
}

.button-alignment {
  margin-top: 24px;
  display: flex;
  justify-content: right;
}





/* end of modals */

/*------- Booking detail - Vlada --------*/
.booking-id {
  color: var(--gray-blue);
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.profile-section {
  margin: 12px 0;
  font-weight: 600;
  font-size: 16px;
  margin-right: 12px;
}


.booking-buttons {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 16px;
}