/* ---------- root variables ---------- */
:root {
  --green: rgb(38, 76, 89);
  --light-green: rgb(172, 198, 201);
  --light-grey: #f1f1f4;
  --text-color: #474747;
  --blue: #276A82;
  --medium-blue: #AFC0C7;
  --light-blue: #E5F1F5;
  --gray-blue: #92ADB6;
  --tile-color: #F7F9FA;
  --background-color: #FBFBFC;
  --white: #FFFFFF;
  --light-gray: #EAEAEA;
  --medium-gray: #C7C7C7;
  --secondary-text-color: #B5B5B5;
  --blurred: rgba(39, 106, 130, 0.1);
  --red: #FF7272;
  --green: #63D177;
}

/* ---------- general styling ---------- */
html {
  color: var(--text-color);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
  background-color: var(--background-color);
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: var(--light-green);
}

/* ---------- topbar styling ---------- */

.sidebar {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 110px;
  white-space: nowrap;
}

.sidebar a {
  padding: 16px 0 16px 0px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray-blue);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.menu-item-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-text {
  margin-left: 16px;
  display: none;

}

/* .sidebar a:hover {
  color: var(--blue);
} */

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 16px;
  margin-left: 32px;
}


.active-menu {
  background-color: var(--light-blue);
  border-radius: 5px;
  color: var(--blue) !important;
  width: 48px;
  margin-left: 16px;
}

.active-menu path {
  stroke: var(--blue) !important;
}

.hoverButton {
  margin-left: 16px;
  width: 48px;
}

.hoverButton:hover {
  width: 174px;
  margin-left: 16px;
  background-color: var(--light-blue);
  border-radius: 5px;
  /* color: var(--blue) !important; */
}

.hoverButton:hover .icon-text {
  color: var(--blue) !important;
}

.hoverButton:hover path {
  stroke: var(--blue) !important;
}

.settingsDiv {
  position: absolute;
  bottom: 20%;
}

.raskrask-icon {
  position: absolute;
  left: 27px;
  top: 3%;
}

.raskrask-text {
  display: none;
}

.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

.topbar a {
  text-decoration: none;
  color: var(--text-color-light);
  position: absolute;
  top: 20px;
}

.topbar a.left {
  left: 20px;
}

.topbar a.right {
  right: 20px;
}


/* ---------- tabbar styling ---------- */
/*  */

/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* ---------- input form stryling ---------- */
form {
  background-color: var(--light-green);
  padding: 2em 1em 2.5em;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 100%;
  max-width: 350px;
}

article button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 10px 8px;
  border-radius: 0;
  color: var(--text-color-light);
  background-color: var(--green);
  width: 40%;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 12px 15px;
  box-sizing: border-box;
  display: block;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 50% 50%;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.grid-container>article {
  text-align: center;
  padding: 10px;
}

.grid-container>article img {
  max-width: 300px;
  width: 100%;
  margin-bottom: 1em;
}

.grid-container>article h3 {
  font-weight: 200;
}

.image-preview {
  width: 100%;
  height: auto;
  margin: 1em 0;
}